body{
	display: flex;
  justify-content: center;
  padding-top: 50px;
}
.container{
	float: left
}

.container{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.body{
  width: 200px;
  height: 220px;
	border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
	border: 1px solid #777;
	filter: blur(0px);
	position: relative;
	top: 175px;
}

.wine{
  background: linear-gradient(to bottom, transparent, transparent, transparent, #c6c6c6, #ededed, #ffffff);
  width: 200px;
  height: 220px;
  border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -webkit-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -moz-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -ms-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -o-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
}

.wave{
  background: #5d0303;
  overflow: hidden;
  width: 195px;
  height: 215px;
  border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  transform: translate(2.5px, -220px);
  -webkit-transform: translate(2.5px, -220px);
  -webkit-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -moz-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -ms-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  -o-border-radius: 52% 48% 47% 53% / 10% 9% 91% 90%;
  box-shadow: inset 0 0 50px rgba(0,0,0.5);
  -moz-transform: translate(2.5px, -220px);
  -ms-transform: translate(2.5px, -220px);
  -o-transform: translate(2.5px, -220px);
}
.wave:before,
.wave:after
{
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	top: 0;
	left: 50%;
	transform: translate(-50%,-75%);
	background: #000;
	-webkit-transform: translate(-50%,-75%);
	-moz-transform: translate(-50%,-75%);
	-ms-transform: translate(-50%,-75%);
	-o-transform: translate(-50%,-75%);
}
.wave:before
{
	border-radius: 40%;
	background: rgba(255,255,255,1);
	animation: animate 10s linear infinite;
	-webkit-border-radius: 40%;
	-moz-border-radius: 40%;
	-ms-border-radius: 40%;
	-o-border-radius: 40%;
}
.wave:after
{
	border-radius: 38%;
	background: rgba(255,255,255,.5);
	animation: animate 8s linear infinite;
	-webkit-border-radius: 38%;
	-moz-border-radius: 38%;
	-ms-border-radius: 38%;
	-o-border-radius: 38%;
	-webkit-animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-75%) rotate(0deg);
		-webkit-transform: translate(-50%,-75%) rotate(0deg);
		-moz-transform: translate(-50%,-75%) rotate(0deg);
		-ms-transform: translate(-50%,-75%) rotate(0deg);
		-o-transform: translate(-50%,-75%) rotate(0deg);
}
	100%
	{
		transform: translate(-50%,-75%) rotate(360deg);
		-webkit-transform: translate(-50%,-75%) rotate(360deg);
		-moz-transform: translate(-50%,-75%) rotate(360deg);
		-ms-transform: translate(-50%,-75%) rotate(360deg);
		-o-transform: translate(-50%,-75%) rotate(360deg);
}
}


.middle{
	background: rgba(164, 164, 164, 0.3);
	width: 20px;
	height: 200px;
	border-radius: 0 0 5px 5px;
	border: 1px solid transparent;
	filter: blur(0px);
	box-shadow: inset 0 1px 0px #444444, inset 0 2px 0 white, inset 0 -6px 3px #444444;
	position: relative;
	left: 95px;
	top: 174px;
}

.base{
	background: rgba(180, 180, 180, 0.3);
	width: 150px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #777;
	filter: blur(0px);
	filter: drop-shadow(8px 8px 8px black);
	position: relative;
	left: 30px;
	top: 160px;
}
